out
pkg
gobin/*
.idea
.vagrant

/tmp/

*\.test
*.coverprofile

*.sublime-workspace
*.sw*

test/bosh/*.json
test/micro_bosh

*.bundle
*.iso
*.exe
*.ovf
*.vmdk
*.box
*metadata.json
*.log
integration/windows/agent.json
integration/windows/service_wrapper.xml
integration/windows/settings.json
