---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: bosh/agent

inputs:
- name: bosh-agent
- name: version-semver

outputs:
- name: compiled-windows-amd64

params:
  DIRNAME: compiled-windows-amd64
  GOARCH: amd64
  GOOS:   windows

run:
  path: bosh-agent/ci/tasks/build.sh
