{
  "agent_id": "123-456-789",
  "blobstore": {
    "provider": "dav",
    "options": {
      "endpoint": "http://{{.NatsPrivateIP}}:25250",
      "password": "password",
      "user": "agent"
    }
  },
  "disks": {
    "system": "/dev/xvda",
    "ephemeral": {{.EphemeralDiskConfig}},
    "persistent": {},
    "raw_ephemeral": null
  },
  "env": {
    "bosh": {
      "password": "",
      "blobstores": [
        {
          "provider": "dav",
          "options": {
            "endpoint": "http://{{.NatsPrivateIP}}:25250",
            "password": "password",
            "user": "agent"
          }
        }
      ],
      "mbus": {
        "cert": {
          "ca": "{{.NatsCA}}",
          "private_key": "{{.NatsPrivateKey}}",
          "certificate": "{{.NatsCertificate}}"
        },
        "urls": null
      }
    }
  },
  "networks": {
    "default": {
      "type": "manual",
      "ip": "{{.AgentIP}}",
      "netmask": "{{.AgentNetmask}}",
      "gateway": "{{.AgentGateway}}",
      "resolved": false,
      "use_dhcp": true,
      "default": [
        "dns",
        "gateway"
      ],
      "dns": [
        "8.8.8.8"
      ],
      "mac": "",
      "preconfigured": false
    }
  },
  "mbus": "nats://nats:nats@{{.NatsPrivateIP}}:4222",
  "vm": {
    "name": "vm-1f1aaed4-b479-4cf5-b73e-a7cbf0abf4ae"
  },
  "trusted_certs": ""
}
