name: go
on:
  push:
  pull_request:
jobs:
  lint:
    strategy:
      matrix:
        os: [macos-latest, windows-2019, ubuntu-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - uses: golangci/golangci-lint-action@v6
        if: ${{ matrix.os == 'windows-2019' }}
      - uses: golangci/golangci-lint-action@v6
        if: ${{ matrix.os != 'windows-2019' }}
        with:
          args: --enable goimports
